#box {
    height: 500px;
    width: 500px;
    background: conic-gradient( orange, white, green, );
}
#outer{
    height: 200px;
    width: 200px;
    background-color :lightseagreen;

}
#inner{
    height: 50%;
    width: 25%;
background-color: #a01414;
}